// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudm_SDM

Nudm Subscriber Data Management Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudm_SDM

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type GroupIdentifiersAPI interface {

	/*
		GetGroupIdentifiers Mapping of Group Identifiers

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ApiGetGroupIdentifiersRequest
	*/
	GetGroupIdentifiers(ctx context.Context) ApiGetGroupIdentifiersRequest

	// GetGroupIdentifiersExecute executes the request
	//   @return GroupIdentifiers
	GetGroupIdentifiersExecute(r ApiGetGroupIdentifiersRequest) (*models.GroupIdentifiers, *http.Response, error)
}

// GroupIdentifiersAPIService GroupIdentifiersAPI service
type GroupIdentifiersAPIService service

type ApiGetGroupIdentifiersRequest struct {
	ctx               context.Context
	ApiService        GroupIdentifiersAPI
	extGroupId        *string
	intGroupId        *string
	ueIdInd           *bool
	supportedFeatures *string
	afId              *string
	ifNoneMatch       *string
	ifModifiedSince   *string
}

// External Group Identifier
func (r ApiGetGroupIdentifiersRequest) ExtGroupId(extGroupId string) ApiGetGroupIdentifiersRequest {
	r.extGroupId = &extGroupId
	return r
}

// Internal Group Identifier
func (r ApiGetGroupIdentifiersRequest) IntGroupId(intGroupId string) ApiGetGroupIdentifiersRequest {
	r.intGroupId = &intGroupId
	return r
}

// Indication whether UE identifiers are required or not
func (r ApiGetGroupIdentifiersRequest) UeIdInd(ueIdInd bool) ApiGetGroupIdentifiersRequest {
	r.ueIdInd = &ueIdInd
	return r
}

// Supported Features
func (r ApiGetGroupIdentifiersRequest) SupportedFeatures(supportedFeatures string) ApiGetGroupIdentifiersRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

// AF identifier
func (r ApiGetGroupIdentifiersRequest) AfId(afId string) ApiGetGroupIdentifiersRequest {
	r.afId = &afId
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.2
func (r ApiGetGroupIdentifiersRequest) IfNoneMatch(ifNoneMatch string) ApiGetGroupIdentifiersRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.3
func (r ApiGetGroupIdentifiersRequest) IfModifiedSince(ifModifiedSince string) ApiGetGroupIdentifiersRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetGroupIdentifiersRequest) Execute() (*models.GroupIdentifiers, *http.Response, error) {
	return r.ApiService.GetGroupIdentifiersExecute(r)
}

/*
GetGroupIdentifiers Mapping of Group Identifiers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetGroupIdentifiersRequest
*/
func (a *GroupIdentifiersAPIService) GetGroupIdentifiers(ctx context.Context) ApiGetGroupIdentifiersRequest {
	return ApiGetGroupIdentifiersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GroupIdentifiers
func (a *GroupIdentifiersAPIService) GetGroupIdentifiersExecute(r ApiGetGroupIdentifiersRequest) (*models.GroupIdentifiers, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.GroupIdentifiers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupIdentifiersAPIService.GetGroupIdentifiers")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/group-data/group-identifiers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.extGroupId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "ext-group-id", r.extGroupId, "form", "")
	}
	if r.intGroupId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "int-group-id", r.intGroupId, "form", "")
	}
	if r.ueIdInd != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "ue-id-ind", r.ueIdInd, "form", "")
	} else {
		var defaultValue bool = false
		r.ueIdInd = &defaultValue
	}
	if r.supportedFeatures != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "form", "")
	}
	if r.afId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "af-id", r.afId, "form", "")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
