// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudm_SDM

Nudm Subscriber Data Management Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudm_SDM

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type AccessAndMobilitySubscriptionDataRetrievalAPI interface {

	/*
		GetAmData retrieve a UE's Access and Mobility Subscription Data

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param supi Identifier of the UE
			@return ApiGetAmDataRequest
	*/
	GetAmData(ctx context.Context, supi string) ApiGetAmDataRequest

	// GetAmDataExecute executes the request
	//   @return AccessAndMobilitySubscriptionData
	GetAmDataExecute(r ApiGetAmDataRequest) (*models.AccessAndMobilitySubscriptionData, *http.Response, error)
}

// AccessAndMobilitySubscriptionDataRetrievalAPIService AccessAndMobilitySubscriptionDataRetrievalAPI service
type AccessAndMobilitySubscriptionDataRetrievalAPIService service

type ApiGetAmDataRequest struct {
	ctx                context.Context
	ApiService         AccessAndMobilitySubscriptionDataRetrievalAPI
	supi               string
	supportedFeatures  *string
	plmnId             *models.PlmnIdNid
	adjacentPlmns      *[]models.PlmnId
	disasterRoamingInd *bool
	sharedDataIds      *[]string
	ifNoneMatch        *string
	ifModifiedSince    *string
}

// Supported Features
func (r ApiGetAmDataRequest) SupportedFeatures(supportedFeatures string) ApiGetAmDataRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

// Serving PLMN ID or SNPN ID
func (r ApiGetAmDataRequest) PlmnId(plmnId models.PlmnIdNid) ApiGetAmDataRequest {
	r.plmnId = &plmnId
	return r
}

// List of PLMNs adjacent to the UE&#39;s serving PLMN
func (r ApiGetAmDataRequest) AdjacentPlmns(adjacentPlmns []models.PlmnId) ApiGetAmDataRequest {
	r.adjacentPlmns = &adjacentPlmns
	return r
}

// Indication whether Disaster Roaming service is applied or not
func (r ApiGetAmDataRequest) DisasterRoamingInd(disasterRoamingInd bool) ApiGetAmDataRequest {
	r.disasterRoamingInd = &disasterRoamingInd
	return r
}

// List of IDs identifying shared Access and Mobility Subscription Data already available at the NF service consumer
func (r ApiGetAmDataRequest) SharedDataIds(sharedDataIds []string) ApiGetAmDataRequest {
	r.sharedDataIds = &sharedDataIds
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.2
func (r ApiGetAmDataRequest) IfNoneMatch(ifNoneMatch string) ApiGetAmDataRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.3
func (r ApiGetAmDataRequest) IfModifiedSince(ifModifiedSince string) ApiGetAmDataRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetAmDataRequest) Execute() (*models.AccessAndMobilitySubscriptionData, *http.Response, error) {
	return r.ApiService.GetAmDataExecute(r)
}

/*
GetAmData retrieve a UE's Access and Mobility Subscription Data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param supi Identifier of the UE
	@return ApiGetAmDataRequest
*/
func (a *AccessAndMobilitySubscriptionDataRetrievalAPIService) GetAmData(ctx context.Context, supi string) ApiGetAmDataRequest {
	return ApiGetAmDataRequest{
		ApiService: a,
		ctx:        ctx,
		supi:       supi,
	}
}

// Execute executes the request
//
//	@return AccessAndMobilitySubscriptionData
func (a *AccessAndMobilitySubscriptionDataRetrievalAPIService) GetAmDataExecute(r ApiGetAmDataRequest) (*models.AccessAndMobilitySubscriptionData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.AccessAndMobilitySubscriptionData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAndMobilitySubscriptionDataRetrievalAPIService.GetAmData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/{supi}/am-data"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"supi"+"}", url.PathEscape(openapi.ParameterValueToString(r.supi, "supi")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.supportedFeatures != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "form", "")
	}
	if r.plmnId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "plmn-id", r.plmnId, "", "")
	}
	if r.adjacentPlmns != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "adjacent-plmns", r.adjacentPlmns, "", "csv")
	}
	if r.disasterRoamingInd != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "disaster-roaming-ind", r.disasterRoamingInd, "form", "")
	} else {
		var defaultValue bool = false
		r.disasterRoamingInd = &defaultValue
	}
	if r.sharedDataIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "shared-data-ids", r.sharedDataIds, "form", "csv")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
