// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudm_SDM

Nudm Subscriber Data Management Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudm_SDM

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type SessionManagementSubscriptionDataRetrievalAPI interface {

	/*
		GetSmData retrieve a UE's Session Management Subscription Data

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param supi Identifier of the UE
			@return ApiGetSmDataRequest
	*/
	GetSmData(ctx context.Context, supi string) ApiGetSmDataRequest

	// GetSmDataExecute executes the request
	//   @return SmSubsData
	GetSmDataExecute(r ApiGetSmDataRequest) (*models.SmSubsData, *http.Response, error)
}

// SessionManagementSubscriptionDataRetrievalAPIService SessionManagementSubscriptionDataRetrievalAPI service
type SessionManagementSubscriptionDataRetrievalAPIService service

type ApiGetSmDataRequest struct {
	ctx                context.Context
	ApiService         SessionManagementSubscriptionDataRetrievalAPI
	supi               string
	supportedFeatures  *string
	singleNssai        *models.Snssai
	dnn                *string
	plmnId             *models.PlmnId
	disasterRoamingInd *bool
	ifNoneMatch        *string
	ifModifiedSince    *string
}

// Supported Features
func (r ApiGetSmDataRequest) SupportedFeatures(supportedFeatures string) ApiGetSmDataRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

func (r ApiGetSmDataRequest) SingleNssai(singleNssai models.Snssai) ApiGetSmDataRequest {
	r.singleNssai = &singleNssai
	return r
}

func (r ApiGetSmDataRequest) Dnn(dnn string) ApiGetSmDataRequest {
	r.dnn = &dnn
	return r
}

func (r ApiGetSmDataRequest) PlmnId(plmnId models.PlmnId) ApiGetSmDataRequest {
	r.plmnId = &plmnId
	return r
}

// Indication whether Disaster Roaming service is applied or not
func (r ApiGetSmDataRequest) DisasterRoamingInd(disasterRoamingInd bool) ApiGetSmDataRequest {
	r.disasterRoamingInd = &disasterRoamingInd
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.2
func (r ApiGetSmDataRequest) IfNoneMatch(ifNoneMatch string) ApiGetSmDataRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// Validator for conditional requests, as described in RFC 9110, 3.3
func (r ApiGetSmDataRequest) IfModifiedSince(ifModifiedSince string) ApiGetSmDataRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetSmDataRequest) Execute() (*models.SmSubsData, *http.Response, error) {
	return r.ApiService.GetSmDataExecute(r)
}

/*
GetSmData retrieve a UE's Session Management Subscription Data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param supi Identifier of the UE
	@return ApiGetSmDataRequest
*/
func (a *SessionManagementSubscriptionDataRetrievalAPIService) GetSmData(ctx context.Context, supi string) ApiGetSmDataRequest {
	return ApiGetSmDataRequest{
		ApiService: a,
		ctx:        ctx,
		supi:       supi,
	}
}

// Execute executes the request
//
//	@return SmSubsData
func (a *SessionManagementSubscriptionDataRetrievalAPIService) GetSmDataExecute(r ApiGetSmDataRequest) (*models.SmSubsData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.SmSubsData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionManagementSubscriptionDataRetrievalAPIService.GetSmData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/{supi}/sm-data"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"supi"+"}", url.PathEscape(openapi.ParameterValueToString(r.supi, "supi")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.supportedFeatures != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "form", "")
	}
	if r.singleNssai != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "single-nssai", r.singleNssai, "", "")
	}
	if r.dnn != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnn", r.dnn, "form", "")
	}
	if r.plmnId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "plmn-id", r.plmnId, "", "")
	}
	if r.disasterRoamingInd != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "disaster-roaming-ind", r.disasterRoamingInd, "form", "")
	} else {
		var defaultValue bool = false
		r.disasterRoamingInd = &defaultValue
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
