// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type InfluenceDataSubscriptionsCollectionAPI interface {

	/*
		CreateIndividualInfluenceDataSubscription Create a new Individual Influence Data Subscription resource

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ApiCreateIndividualInfluenceDataSubscriptionRequest
	*/
	CreateIndividualInfluenceDataSubscription(ctx context.Context) ApiCreateIndividualInfluenceDataSubscriptionRequest

	// CreateIndividualInfluenceDataSubscriptionExecute executes the request
	//   @return TrafficInfluSub
	CreateIndividualInfluenceDataSubscriptionExecute(r ApiCreateIndividualInfluenceDataSubscriptionRequest) (*models.TrafficInfluSub, *http.Response, error)

	/*
		ReadInfluenceDataSubscriptions Read Influence Data Subscriptions

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ApiReadInfluenceDataSubscriptionsRequest
	*/
	ReadInfluenceDataSubscriptions(ctx context.Context) ApiReadInfluenceDataSubscriptionsRequest

	// ReadInfluenceDataSubscriptionsExecute executes the request
	//   @return []TrafficInfluSub
	ReadInfluenceDataSubscriptionsExecute(r ApiReadInfluenceDataSubscriptionsRequest) ([]models.TrafficInfluSub, *http.Response, error)
}

// InfluenceDataSubscriptionsCollectionAPIService InfluenceDataSubscriptionsCollectionAPI service
type InfluenceDataSubscriptionsCollectionAPIService service

type ApiCreateIndividualInfluenceDataSubscriptionRequest struct {
	ctx             context.Context
	ApiService      InfluenceDataSubscriptionsCollectionAPI
	trafficInfluSub *models.TrafficInfluSub
}

func (r ApiCreateIndividualInfluenceDataSubscriptionRequest) TrafficInfluSub(trafficInfluSub models.TrafficInfluSub) ApiCreateIndividualInfluenceDataSubscriptionRequest {
	r.trafficInfluSub = &trafficInfluSub
	return r
}

func (r ApiCreateIndividualInfluenceDataSubscriptionRequest) Execute() (*models.TrafficInfluSub, *http.Response, error) {
	return r.ApiService.CreateIndividualInfluenceDataSubscriptionExecute(r)
}

/*
CreateIndividualInfluenceDataSubscription Create a new Individual Influence Data Subscription resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateIndividualInfluenceDataSubscriptionRequest
*/
func (a *InfluenceDataSubscriptionsCollectionAPIService) CreateIndividualInfluenceDataSubscription(ctx context.Context) ApiCreateIndividualInfluenceDataSubscriptionRequest {
	return ApiCreateIndividualInfluenceDataSubscriptionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TrafficInfluSub
func (a *InfluenceDataSubscriptionsCollectionAPIService) CreateIndividualInfluenceDataSubscriptionExecute(r ApiCreateIndividualInfluenceDataSubscriptionRequest) (*models.TrafficInfluSub, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.TrafficInfluSub
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfluenceDataSubscriptionsCollectionAPIService.CreateIndividualInfluenceDataSubscription")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/application-data/influenceData/subs-to-notify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.trafficInfluSub == nil {
		return localVarReturnValue, nil, openapi.ReportError("trafficInfluSub is required and must be specified")
	}

	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.trafficInfluSub
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 411 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 415 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadInfluenceDataSubscriptionsRequest struct {
	ctx                  context.Context
	ApiService           InfluenceDataSubscriptionsCollectionAPI
	dnn                  *string
	snssai               *models.Snssai
	internalGroupId      *string
	supi                 *string
	internalGroupIds     *[]string
	subscriberCategories *[]string
	roamUePlmnIds        *[]models.PlmnId
}

// Identifies a DNN.
func (r ApiReadInfluenceDataSubscriptionsRequest) Dnn(dnn string) ApiReadInfluenceDataSubscriptionsRequest {
	r.dnn = &dnn
	return r
}

// Identifies a slice.
func (r ApiReadInfluenceDataSubscriptionsRequest) Snssai(snssai models.Snssai) ApiReadInfluenceDataSubscriptionsRequest {
	r.snssai = &snssai
	return r
}

// Identifies a group of users.
func (r ApiReadInfluenceDataSubscriptionsRequest) InternalGroupId(internalGroupId string) ApiReadInfluenceDataSubscriptionsRequest {
	r.internalGroupId = &internalGroupId
	return r
}

// Identifies a user.
func (r ApiReadInfluenceDataSubscriptionsRequest) Supi(supi string) ApiReadInfluenceDataSubscriptionsRequest {
	r.supi = &supi
	return r
}

// Each element identifies an internal group.
func (r ApiReadInfluenceDataSubscriptionsRequest) InternalGroupIds(internalGroupIds []string) ApiReadInfluenceDataSubscriptionsRequest {
	r.internalGroupIds = &internalGroupIds
	return r
}

// Each element identifies a subscriber category.
func (r ApiReadInfluenceDataSubscriptionsRequest) SubscriberCategories(subscriberCategories []string) ApiReadInfluenceDataSubscriptionsRequest {
	r.subscriberCategories = &subscriberCategories
	return r
}

// Each element identifies a PLMN.
func (r ApiReadInfluenceDataSubscriptionsRequest) RoamUePlmnIds(roamUePlmnIds []models.PlmnId) ApiReadInfluenceDataSubscriptionsRequest {
	r.roamUePlmnIds = &roamUePlmnIds
	return r
}

func (r ApiReadInfluenceDataSubscriptionsRequest) Execute() ([]models.TrafficInfluSub, *http.Response, error) {
	return r.ApiService.ReadInfluenceDataSubscriptionsExecute(r)
}

/*
ReadInfluenceDataSubscriptions Read Influence Data Subscriptions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReadInfluenceDataSubscriptionsRequest
*/
func (a *InfluenceDataSubscriptionsCollectionAPIService) ReadInfluenceDataSubscriptions(ctx context.Context) ApiReadInfluenceDataSubscriptionsRequest {
	return ApiReadInfluenceDataSubscriptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TrafficInfluSub
func (a *InfluenceDataSubscriptionsCollectionAPIService) ReadInfluenceDataSubscriptionsExecute(r ApiReadInfluenceDataSubscriptionsRequest) ([]models.TrafficInfluSub, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue []models.TrafficInfluSub
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfluenceDataSubscriptionsCollectionAPIService.ReadInfluenceDataSubscriptions")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/application-data/influenceData/subs-to-notify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dnn != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnn", r.dnn, "", "")
	}
	if r.snssai != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "snssai", r.snssai, "", "")
	}
	if r.internalGroupId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "internal-Group-Id", r.internalGroupId, "", "")
	}
	if r.supi != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supi", r.supi, "", "")
	}
	if r.internalGroupIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "internal-group-ids", r.internalGroupIds, "", "csv")
	}
	if r.subscriberCategories != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "subscriber-categories", r.subscriberCategories, "", "csv")
	}
	if r.roamUePlmnIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "roam-ue-plmn-ids", r.roamUePlmnIds, "", "csv")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 414 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
