// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPI interface {

	/*
		GetNiddAuData Retrieve NIDD Authorization Data GPSI or External Group identifier

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param ueId UE ID
			@return ApiGetNiddAuDataRequest
	*/
	GetNiddAuData(ctx context.Context, ueId string) ApiGetNiddAuDataRequest

	// GetNiddAuDataExecute executes the request
	//   @return AuthorizationData
	GetNiddAuDataExecute(r ApiGetNiddAuDataRequest) (*models.AuthorizationData, *http.Response, error)
}

// QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPIService QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPI service
type QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPIService service

type ApiGetNiddAuDataRequest struct {
	ctx                    context.Context
	ApiService             QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPI
	ueId                   string
	singleNssai            *models.Snssai
	dnn                    *string
	mtcProviderInformation *string
	afId                   *string
	ifNoneMatch            *string
	ifModifiedSince        *string
}

// single NSSAI
func (r ApiGetNiddAuDataRequest) SingleNssai(singleNssai models.Snssai) ApiGetNiddAuDataRequest {
	r.singleNssai = &singleNssai
	return r
}

// DNN
func (r ApiGetNiddAuDataRequest) Dnn(dnn string) ApiGetNiddAuDataRequest {
	r.dnn = &dnn
	return r
}

// MTC Provider Information
func (r ApiGetNiddAuDataRequest) MtcProviderInformation(mtcProviderInformation string) ApiGetNiddAuDataRequest {
	r.mtcProviderInformation = &mtcProviderInformation
	return r
}

// Application Function Identifier
func (r ApiGetNiddAuDataRequest) AfId(afId string) ApiGetNiddAuDataRequest {
	r.afId = &afId
	return r
}

// Validator for conditional requests, as described in RFC 9110, 13.1.2
func (r ApiGetNiddAuDataRequest) IfNoneMatch(ifNoneMatch string) ApiGetNiddAuDataRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// Validator for conditional requests, as described in RFC 9110, 13.1.3
func (r ApiGetNiddAuDataRequest) IfModifiedSince(ifModifiedSince string) ApiGetNiddAuDataRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetNiddAuDataRequest) Execute() (*models.AuthorizationData, *http.Response, error) {
	return r.ApiService.GetNiddAuDataExecute(r)
}

/*
GetNiddAuData Retrieve NIDD Authorization Data GPSI or External Group identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ueId UE ID
	@return ApiGetNiddAuDataRequest
*/
func (a *QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPIService) GetNiddAuData(ctx context.Context, ueId string) ApiGetNiddAuDataRequest {
	return ApiGetNiddAuDataRequest{
		ApiService: a,
		ctx:        ctx,
		ueId:       ueId,
	}
}

// Execute executes the request
//
//	@return AuthorizationData
func (a *QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPIService) GetNiddAuDataExecute(r ApiGetNiddAuDataRequest) (*models.AuthorizationData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.AuthorizationData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentAPIService.GetNiddAuData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/{ueId}/nidd-authorization-data"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"ueId"+"}", url.PathEscape(openapi.ParameterValueToString(r.ueId, "ueId")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.singleNssai == nil {
		return localVarReturnValue, nil, openapi.ReportError("singleNssai is required and must be specified")
	}
	if r.dnn == nil {
		return localVarReturnValue, nil, openapi.ReportError("dnn is required and must be specified")
	}
	if r.mtcProviderInformation == nil {
		return localVarReturnValue, nil, openapi.ReportError("mtcProviderInformation is required and must be specified")
	}

	openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "single-nssai", r.singleNssai, "", "")
	openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnn", r.dnn, "", "")
	openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "mtc-provider-information", r.mtcProviderInformation, "", "")
	if r.afId != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "af-id", r.afId, "", "")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "", "")
	}
	if r.ifModifiedSince != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
