// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type IPTVConfigurationDataStoreAPI interface {

	/*
		ReadIPTVCongifurationData Retrieve IPTV configuration Data

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ApiReadIPTVCongifurationDataRequest
	*/
	ReadIPTVCongifurationData(ctx context.Context) ApiReadIPTVCongifurationDataRequest

	// ReadIPTVCongifurationDataExecute executes the request
	//   @return []IptvConfigData
	ReadIPTVCongifurationDataExecute(r ApiReadIPTVCongifurationDataRequest) ([]models.IptvConfigData, *http.Response, error)
}

// IPTVConfigurationDataStoreAPIService IPTVConfigurationDataStoreAPI service
type IPTVConfigurationDataStoreAPIService service

type ApiReadIPTVCongifurationDataRequest struct {
	ctx           context.Context
	ApiService    IPTVConfigurationDataStoreAPI
	configIds     *[]string
	dnns          *[]string
	snssais       *[]models.Snssai
	supis         *[]string
	interGroupIds *[]string
}

// Each element identifies a configuration.
func (r ApiReadIPTVCongifurationDataRequest) ConfigIds(configIds []string) ApiReadIPTVCongifurationDataRequest {
	r.configIds = &configIds
	return r
}

// Each element identifies a DNN.
func (r ApiReadIPTVCongifurationDataRequest) Dnns(dnns []string) ApiReadIPTVCongifurationDataRequest {
	r.dnns = &dnns
	return r
}

// Each element identifies a slice.
func (r ApiReadIPTVCongifurationDataRequest) Snssais(snssais []models.Snssai) ApiReadIPTVCongifurationDataRequest {
	r.snssais = &snssais
	return r
}

// Each element identifies the user.
func (r ApiReadIPTVCongifurationDataRequest) Supis(supis []string) ApiReadIPTVCongifurationDataRequest {
	r.supis = &supis
	return r
}

// Each element identifies a group of users.
func (r ApiReadIPTVCongifurationDataRequest) InterGroupIds(interGroupIds []string) ApiReadIPTVCongifurationDataRequest {
	r.interGroupIds = &interGroupIds
	return r
}

func (r ApiReadIPTVCongifurationDataRequest) Execute() ([]models.IptvConfigData, *http.Response, error) {
	return r.ApiService.ReadIPTVCongifurationDataExecute(r)
}

/*
ReadIPTVCongifurationData Retrieve IPTV configuration Data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReadIPTVCongifurationDataRequest
*/
func (a *IPTVConfigurationDataStoreAPIService) ReadIPTVCongifurationData(ctx context.Context) ApiReadIPTVCongifurationDataRequest {
	return ApiReadIPTVCongifurationDataRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IptvConfigData
func (a *IPTVConfigurationDataStoreAPIService) ReadIPTVCongifurationDataExecute(r ApiReadIPTVCongifurationDataRequest) ([]models.IptvConfigData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue []models.IptvConfigData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPTVConfigurationDataStoreAPIService.ReadIPTVCongifurationData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/application-data/iptvConfigData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.configIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "config-ids", r.configIds, "", "csv")
	}
	if r.dnns != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnns", r.dnns, "", "csv")
	}
	if r.snssais != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "snssais", r.snssais, "", "csv")
	}
	if r.supis != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supis", r.supis, "", "csv")
	}
	if r.interGroupIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "inter-group-ids", r.interGroupIds, "", "csv")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 414 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
