// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type InfluenceDataStoreAPI interface {

	/*
		ReadInfluenceData Retrieve Traffic Influence Data

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@return ApiReadInfluenceDataRequest
	*/
	ReadInfluenceData(ctx context.Context) ApiReadInfluenceDataRequest

	// ReadInfluenceDataExecute executes the request
	//   @return []TrafficInfluData
	ReadInfluenceDataExecute(r ApiReadInfluenceDataRequest) ([]models.TrafficInfluData, *http.Response, error)
}

// InfluenceDataStoreAPIService InfluenceDataStoreAPI service
type InfluenceDataStoreAPIService service

type ApiReadInfluenceDataRequest struct {
	ctx                  context.Context
	ApiService           InfluenceDataStoreAPI
	influenceIds         *[]string
	dnns                 *[]string
	snssais              *[]models.Snssai
	internalGroupIds     *[]string
	internalGroupIdsAdd  *[]string
	subscriberCategories *[]string
	supis                *[]string
	suppFeat             *string
}

// Each element identifies a service.
func (r ApiReadInfluenceDataRequest) InfluenceIds(influenceIds []string) ApiReadInfluenceDataRequest {
	r.influenceIds = &influenceIds
	return r
}

// Each element identifies a DNN.
func (r ApiReadInfluenceDataRequest) Dnns(dnns []string) ApiReadInfluenceDataRequest {
	r.dnns = &dnns
	return r
}

// Each element identifies a slice.
func (r ApiReadInfluenceDataRequest) Snssais(snssais []models.Snssai) ApiReadInfluenceDataRequest {
	r.snssais = &snssais
	return r
}

// Each element identifies a group of users.
func (r ApiReadInfluenceDataRequest) InternalGroupIds(internalGroupIds []string) ApiReadInfluenceDataRequest {
	r.internalGroupIds = &internalGroupIds
	return r
}

// Each element identifies an internal Group.
func (r ApiReadInfluenceDataRequest) InternalGroupIdsAdd(internalGroupIdsAdd []string) ApiReadInfluenceDataRequest {
	r.internalGroupIdsAdd = &internalGroupIdsAdd
	return r
}

// Each element identifies a subscriber category.
func (r ApiReadInfluenceDataRequest) SubscriberCategories(subscriberCategories []string) ApiReadInfluenceDataRequest {
	r.subscriberCategories = &subscriberCategories
	return r
}

// Each element identifies the user.
func (r ApiReadInfluenceDataRequest) Supis(supis []string) ApiReadInfluenceDataRequest {
	r.supis = &supis
	return r
}

// Supported Features
func (r ApiReadInfluenceDataRequest) SuppFeat(suppFeat string) ApiReadInfluenceDataRequest {
	r.suppFeat = &suppFeat
	return r
}

func (r ApiReadInfluenceDataRequest) Execute() ([]models.TrafficInfluData, *http.Response, error) {
	return r.ApiService.ReadInfluenceDataExecute(r)
}

/*
ReadInfluenceData Retrieve Traffic Influence Data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReadInfluenceDataRequest
*/
func (a *InfluenceDataStoreAPIService) ReadInfluenceData(ctx context.Context) ApiReadInfluenceDataRequest {
	return ApiReadInfluenceDataRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TrafficInfluData
func (a *InfluenceDataStoreAPIService) ReadInfluenceDataExecute(r ApiReadInfluenceDataRequest) ([]models.TrafficInfluData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue []models.TrafficInfluData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfluenceDataStoreAPIService.ReadInfluenceData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/application-data/influenceData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.influenceIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "influence-Ids", r.influenceIds, "", "csv")
	}
	if r.dnns != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnns", r.dnns, "", "csv")
	}
	if r.snssais != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "snssais", r.snssais, "", "csv")
	}
	if r.internalGroupIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "internal-Group-Ids", r.internalGroupIds, "", "csv")
	}
	if r.internalGroupIdsAdd != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "internal-group-ids-Add", r.internalGroupIdsAdd, "", "csv")
	}
	if r.subscriberCategories != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "subscriber-categories", r.subscriberCategories, "", "csv")
	}
	if r.supis != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supis", r.supis, "", "csv")
	}
	if r.suppFeat != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supp-feat", r.suppFeat, "", "")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 414 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
