// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type AccessAndMobilitySubscriptionDataDocumentAPI interface {

	/*
		QueryAmData Retrieves the access and mobility subscription data of a UE

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param ueId UE id
			@param servingPlmnId PLMN ID
			@return ApiQueryAmDataRequest
	*/
	QueryAmData(ctx context.Context, ueId string, servingPlmnId string) ApiQueryAmDataRequest

	// QueryAmDataExecute executes the request
	//   @return AccessAndMobilitySubscriptionData
	QueryAmDataExecute(r ApiQueryAmDataRequest) (*models.AccessAndMobilitySubscriptionData, *http.Response, error)
}

// AccessAndMobilitySubscriptionDataDocumentAPIService AccessAndMobilitySubscriptionDataDocumentAPI service
type AccessAndMobilitySubscriptionDataDocumentAPIService service

type ApiQueryAmDataRequest struct {
	ctx               context.Context
	ApiService        AccessAndMobilitySubscriptionDataDocumentAPI
	ueId              string
	servingPlmnId     string
	fields            *[]string
	supportedFeatures *string
	adjacentPlmns     *[]models.PlmnId
	ifNoneMatch       *string
	ifModifiedSince   *string
}

// attributes to be retrieved
func (r ApiQueryAmDataRequest) Fields(fields []string) ApiQueryAmDataRequest {
	r.fields = &fields
	return r
}

// Supported Features
func (r ApiQueryAmDataRequest) SupportedFeatures(supportedFeatures string) ApiQueryAmDataRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

// List of PLMNs adjacent to the UE&#39;s serving PLMN
func (r ApiQueryAmDataRequest) AdjacentPlmns(adjacentPlmns []models.PlmnId) ApiQueryAmDataRequest {
	r.adjacentPlmns = &adjacentPlmns
	return r
}

// Validator for conditional requests, as described in RFC 9110, 13.1.29110, 13.1.2
func (r ApiQueryAmDataRequest) IfNoneMatch(ifNoneMatch string) ApiQueryAmDataRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// Validator for conditional requests, as described in RFC 9110, 13.1.39110, 13.1.3
func (r ApiQueryAmDataRequest) IfModifiedSince(ifModifiedSince string) ApiQueryAmDataRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiQueryAmDataRequest) Execute() (*models.AccessAndMobilitySubscriptionData, *http.Response, error) {
	return r.ApiService.QueryAmDataExecute(r)
}

/*
QueryAmData Retrieves the access and mobility subscription data of a UE

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ueId UE id
	@param servingPlmnId PLMN ID
	@return ApiQueryAmDataRequest
*/
func (a *AccessAndMobilitySubscriptionDataDocumentAPIService) QueryAmData(ctx context.Context, ueId string, servingPlmnId string) ApiQueryAmDataRequest {
	return ApiQueryAmDataRequest{
		ApiService:    a,
		ctx:           ctx,
		ueId:          ueId,
		servingPlmnId: servingPlmnId,
	}
}

// Execute executes the request
//
//	@return AccessAndMobilitySubscriptionData
func (a *AccessAndMobilitySubscriptionDataDocumentAPIService) QueryAmDataExecute(r ApiQueryAmDataRequest) (*models.AccessAndMobilitySubscriptionData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.AccessAndMobilitySubscriptionData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAndMobilitySubscriptionDataDocumentAPIService.QueryAmData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/{ueId}/{servingPlmnId}/provisioned-data/am-data"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"ueId"+"}", url.PathEscape(openapi.ParameterValueToString(r.ueId, "ueId")))
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"servingPlmnId"+"}", url.PathEscape(openapi.ParameterValueToString(r.servingPlmnId, "servingPlmnId")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "csv")
	}
	if r.supportedFeatures != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "", "")
	}
	if r.adjacentPlmns != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "adjacent-plmns", r.adjacentPlmns, "form", "csv")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "", "")
	}
	if r.ifModifiedSince != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
