// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 2.3.0-alpha.6

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type ProvisionedDataDocumentAPI interface {

	/*
		QueryProvisionedData Retrieve multiple provisioned data sets of a UE

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param ueId UE id
			@param servingPlmnId PLMN ID
			@return ApiQueryProvisionedDataRequest
	*/
	QueryProvisionedData(ctx context.Context, ueId string, servingPlmnId string) ApiQueryProvisionedDataRequest

	// QueryProvisionedDataExecute executes the request
	//   @return ProvisionedDataSets
	QueryProvisionedDataExecute(r ApiQueryProvisionedDataRequest) (*models.ProvisionedDataSets, *http.Response, error)
}

// ProvisionedDataDocumentAPIService ProvisionedDataDocumentAPI service
type ProvisionedDataDocumentAPIService service

type ApiQueryProvisionedDataRequest struct {
	ctx           context.Context
	ApiService    ProvisionedDataDocumentAPI
	ueId          string
	servingPlmnId string
	datasetNames  *[]models.ProvisionedDataSetName
	adjacentPlmns *[]models.PlmnId
	singleNssai   *models.Snssai
	dnn           *string
	extGroupIds   *[]string
	ucPurpose     *models.UcPurpose
}

// List of dataset names
func (r ApiQueryProvisionedDataRequest) DatasetNames(datasetNames []models.ProvisionedDataSetName) ApiQueryProvisionedDataRequest {
	r.datasetNames = &datasetNames
	return r
}

// List of PLMNs adjacent to the UE&#39;s serving PLMN
func (r ApiQueryProvisionedDataRequest) AdjacentPlmns(adjacentPlmns []models.PlmnId) ApiQueryProvisionedDataRequest {
	r.adjacentPlmns = &adjacentPlmns
	return r
}

// single NSSAI
func (r ApiQueryProvisionedDataRequest) SingleNssai(singleNssai models.Snssai) ApiQueryProvisionedDataRequest {
	r.singleNssai = &singleNssai
	return r
}

// DNN
func (r ApiQueryProvisionedDataRequest) Dnn(dnn string) ApiQueryProvisionedDataRequest {
	r.dnn = &dnn
	return r
}

// List of external VN group identifiers
func (r ApiQueryProvisionedDataRequest) ExtGroupIds(extGroupIds []string) ApiQueryProvisionedDataRequest {
	r.extGroupIds = &extGroupIds
	return r
}

// User consent purpose
func (r ApiQueryProvisionedDataRequest) UcPurpose(ucPurpose models.UcPurpose) ApiQueryProvisionedDataRequest {
	r.ucPurpose = &ucPurpose
	return r
}

func (r ApiQueryProvisionedDataRequest) Execute() (*models.ProvisionedDataSets, *http.Response, error) {
	return r.ApiService.QueryProvisionedDataExecute(r)
}

/*
QueryProvisionedData Retrieve multiple provisioned data sets of a UE

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ueId UE id
	@param servingPlmnId PLMN ID
	@return ApiQueryProvisionedDataRequest
*/
func (a *ProvisionedDataDocumentAPIService) QueryProvisionedData(ctx context.Context, ueId string, servingPlmnId string) ApiQueryProvisionedDataRequest {
	return ApiQueryProvisionedDataRequest{
		ApiService:    a,
		ctx:           ctx,
		ueId:          ueId,
		servingPlmnId: servingPlmnId,
	}
}

// Execute executes the request
//
//	@return ProvisionedDataSets
func (a *ProvisionedDataDocumentAPIService) QueryProvisionedDataExecute(r ApiQueryProvisionedDataRequest) (*models.ProvisionedDataSets, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.ProvisionedDataSets
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProvisionedDataDocumentAPIService.QueryProvisionedData")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/{ueId}/{servingPlmnId}/provisioned-data"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"ueId"+"}", url.PathEscape(openapi.ParameterValueToString(r.ueId, "ueId")))
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"servingPlmnId"+"}", url.PathEscape(openapi.ParameterValueToString(r.servingPlmnId, "servingPlmnId")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.datasetNames != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dataset-names", r.datasetNames, "form", "csv")
	}
	if r.adjacentPlmns != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "adjacent-plmns", r.adjacentPlmns, "form", "csv")
	}
	if r.singleNssai != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "single-nssai", r.singleNssai, "", "")
	}
	if r.dnn != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "dnn", r.dnn, "", "")
	}
	if r.extGroupIds != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "ext-group-ids", r.extGroupIds, "form", "csv")
	}
	if r.ucPurpose != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarQueryParams, "uc-purpose", r.ucPurpose, "", "")
	}
	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v models.ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
