// Copyright (C) 2026 Intel Corporation
// SPDX-License-Identifier: Apache-2.0

/*
NRF NFDiscovery Service

NRF NFDiscovery Service.
© 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).
All rights reserved.

API version: 1.3.0-alpha.7

Authors: Aether SD-Core team
Contact: dev@lists.aetherproject.org

Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
*/

package Nnrf_NFDiscovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"strings"

	"github.com/omec-project/openapi/v2"
	"github.com/omec-project/openapi/v2/models"
)

type StoredSearchDocumentAPI interface {

	/*
		RetrieveStoredSearch Method for RetrieveStoredSearch

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param searchId Id of a stored search
			@return ApiRetrieveStoredSearchRequest
	*/
	RetrieveStoredSearch(ctx context.Context, searchId string) ApiRetrieveStoredSearchRequest

	// RetrieveStoredSearchExecute executes the request
	//   @return StoredSearchResult
	RetrieveStoredSearchExecute(r ApiRetrieveStoredSearchRequest) (*models.StoredSearchResult, *http.Response, error)
}

// StoredSearchDocumentAPIService StoredSearchDocumentAPI service
type StoredSearchDocumentAPIService service

type ApiRetrieveStoredSearchRequest struct {
	ctx            context.Context
	ApiService     StoredSearchDocumentAPI
	searchId       string
	acceptEncoding *string
}

// Accept-Encoding, described in IETF RFC 9110
func (r ApiRetrieveStoredSearchRequest) AcceptEncoding(acceptEncoding string) ApiRetrieveStoredSearchRequest {
	r.acceptEncoding = &acceptEncoding
	return r
}

func (r ApiRetrieveStoredSearchRequest) Execute() (*models.StoredSearchResult, *http.Response, error) {
	return r.ApiService.RetrieveStoredSearchExecute(r)
}

/*
RetrieveStoredSearch Method for RetrieveStoredSearch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param searchId Id of a stored search
	@return ApiRetrieveStoredSearchRequest
*/
func (a *StoredSearchDocumentAPIService) RetrieveStoredSearch(ctx context.Context, searchId string) ApiRetrieveStoredSearchRequest {
	return ApiRetrieveStoredSearchRequest{
		ApiService: a,
		ctx:        ctx,
		searchId:   searchId,
	}
}

// Execute executes the request
//
//	@return StoredSearchResult
func (a *StoredSearchDocumentAPIService) RetrieveStoredSearchExecute(r ApiRetrieveStoredSearchRequest) (*models.StoredSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    any
		formFiles           []formFile
		localVarReturnValue *models.StoredSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoredSearchDocumentAPIService.RetrieveStoredSearch")
	if err != nil {
		return localVarReturnValue, nil, &openapi.GenericOpenAPIError{RawError: err.Error()}
	}

	localVarPath := localBasePath + "/searches/{searchId}"
	localVarPath = strings.ReplaceAll(localVarPath, "{"+"searchId"+"}", url.PathEscape(openapi.ParameterValueToString(r.searchId, "searchId")))

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// set Content-Type header
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}
	localVarHTTPContentType := openapi.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := openapi.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptEncoding != nil {
		openapi.ParameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Encoding", r.acceptEncoding, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 307 {
			var v models.RedirectResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 308 {
			var v models.RedirectResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.RawError = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.RawError = openapi.FormatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.RawModel = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &openapi.GenericOpenAPIError{
			RawBody:  localVarBody,
			RawError: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
